.box{
    position: relative;
    box-shadow: 0 25px 45px rgba(255,255,255,0.6);
    }
    .box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.5 );
    border-right:  1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid  rgba(255,255,255,0.2);
    border-radius: 10px;
    animation: animate 5s linear infinite;
    animation-delay: calc(-1s*var(--i));
    }
    @keyframes animate{
    0% ,100%{
    transform: translateY(-40px);
    }50%{
        transform: translateY(40px);
        }
    
    }
     .box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
     }
    
     .box .square:nth-child(2){
        top: 150px;
       left:  -100px;
        width: 120px;
        height: 120px;
         }
        
     .box .square:nth-child(3){
        bottom: -80px;
        right: -60px;
        width: 80px;
        height: 80px;
        z-index: 2;
         }
    
         .box .square:nth-child(4){
            bottom: 80px;
            right: -60px;
            width: 50px;
            height: 50px;
             }
             .box .square:nth-child(5){
               top: -80px;
               left: 140px;
                width: 60px;
                height: 60px;
                 }
    
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom ,#b9d2fb , #cfe4f4);
    }
    
    
    .color{
    position: absolute;
    filter:blur(150px);
    }
     .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background-color: #f043bf;
     }
     .color:nth-child(2){
       bottom: -150px;
       left: 100px;
        width: 500px;
        height: 800px;
        background-color: #c470c4;
         }
         .color:nth-child(3){
            bottom: 50px;
            left: 100px;
             width: 500px;
             height: 500px;
             background-color: #fe6fe8;
              }
    .column{
    position: relative;
    width: 600px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5 );
    border-right:  1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid  rgba(255,255,255,0.2);
    }
     .form{
         position: relative;
         width: 100%;
         height: 100%;
         padding: 40px;
     }
     .form h2{
    position: relative;
    color: #ffff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
     }
     .form h2::before{
    color: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #ffff;
     }
     
     .form .inputbox{
    width: 100%;
    margin-top: 20px;
     }
    
     .form .inputbox input{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 0 px;
    border-radius: 35px;
    /* border: 1px solid rgba(255,255,255,0.5 ); */
    border-right:  1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid  rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffff;
    box-shadow: 0 5px 15px rgba(255,255,255,0.5 );
    margin-top: 0;
     }
     .form .inputbox input::placeholder{
         color: #ffff;
     }
    
    input[type =textarea]{
    height: 150px;
    min-width: 350px;
    }
    /* From uiverse.io */
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #bf48bf;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #e375c6;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #c55bb5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #dd60b3;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

  